/*#region Font */
/* Dieser Bereich kann entfernt werden, wenn die Seite bereits über andere Parameter/CSS gestylt wird */
@font-face {
    font-family: 'Lato';
    src: url('../font/Lato/Lato-Regular.eot?#iefix') format('embedded-opentype');
    src: url('../font/Lato/Lato-Regular.ttf') format('truetype'), url('../font/Lato/Lato-Regular.woff') format('woff'), url('../font/Lato/Lato-Regular.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

html{
    font-size: 0.67rem;
}

body {
    font-family: 'Lato';
}
/*#endregion */

/*die Tabellenzeile bei gefundenem Text*/
.tblPageAndSearch-match {
    background-color: rgba(0, 150, 248, 0.3);
}

/*das Eingabefeld für den Filter*/
.tblPageAndSearch-searchfield {
    background-image: url("../pics/search.png");
    background-position: 5px 6px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 1.3rem;
    padding: 10px 0 10px 30px;
    border: 1px solid #ddd;
}

/*das Eingabefeld für die Seitennummer*/
.tblPageAndSearch-pageinput {
    padding-left: 5px;
    width: 4em;
    line-height: 2em;
}

/*ohne Bootstrap*/
/*das Element mit den Page-Buttons*/
.tblPageAndSearch-pagediv {
    float: left;
    margin-right: 10px;
}

    /*die Page-Buttons*/
    .tblPageAndSearch-pagediv input[type=button] {
        padding: 8px 15px 8px 15px;
        background-color: #f0f0f0;
        color: #333;
        font-size: 1.3rem;
        border-top: 1px solid #aaa;
        border-bottom: 1px solid #aaa;
        border-left: 1px solid #aaa;
        border-right: none;
        cursor: pointer;
    }

        .tblPageAndSearch-pagediv input[type=button]:hover {
            background-color: #fff;
        }

        .tblPageAndSearch-pagediv input[type=button]:active {
            background-color: #999;
        }

        /*die letzte Schaltfläche*/
        .tblPageAndSearch-pagediv input[type=button]:last-child {
            border-right: 1px solid #aaa;
            border-bottom-right-radius: 3px;
            border-top-right-radius: 3px;
        }

        /*die erste Schaltfläche*/
        .tblPageAndSearch-pagediv input[type=button]:first-child {
            border-bottom-left-radius: 3px;
            border-top-left-radius: 3px;
        }

    /*die Label-Elemente ('Seite', 'von')*/
    .tblPageAndSearch-pagediv + label {
        float: left;
        font-weight: 700;
    }

    .tblPageAndSearch-pagediv ~ label {
        padding-top: 8px;
        position: inherit;
        font-weight: 700;
    }

    /*das Input-Element für die Seitenzahl*/
    .tblPageAndSearch-pagediv + label + input {
        float: left;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 3px;
        border-radius: 3px;
        border: 1px solid #aaa;
    }

        .tblPageAndSearch-pagediv + label + input + label {
            display: inherit;
        }
/*+++++*/

/*mit Bootstrap - hier muss trotzdem noch ein bissel gestylt werden*/
/*das Eingabefeld für die Seitennummer*/
.tblPageAndSearch-pageinput-bs {
    padding-left: 5px;
    width: 4em;
    line-height: 2em;
    float: left;
}

.tblPageAndSearch-pagediv-bs {
    float: left;
    margin-right: 10px;
}

    /*die Label-Elemente ('Seite', 'von')*/
    .tblPageAndSearch-pagediv-bs + label {
        float: left;
    }

    .tblPageAndSearch-pagediv-bs ~ label {
        padding-top: 8px;
        position: inherit;
    }

    /*das Input-Element für die Seitenzahl*/
    .tblPageAndSearch-pagediv-bs + label + input {
        float: left;
        margin-left: 5px;
        margin-right: 5px;
    }

        .tblPageAndSearch-pagediv-bs + label + input + label {
            display: inherit;
        }

/*+++++*/

/*die Tabelle*/
.tblPageAndSearch-table {
    display: table;
    width: 100%;
    font-size: 1.3rem;
    border-collapse: collapse;
    -webkit-transition-duration: 100ms;
    -moz-transition-duration: 100ms;
    -o-transition-duration: 100ms;
    transition-duration: 100ms;
    -webkit-transition-delay: 200ms;
    -moz-transition-delay: 200ms;
    -o-transition-delay: 200ms;
    transition-delay: 200ms;
}
    /*alle Felder (Header, Body, Footer)*/
    .tblPageAndSearch-table td,
    .tblPageAndSearch-table > thead > tr > th,
    .tblPageAndSearch-table > thead > tr > td,
    .tblPageAndSearch-table > tfoot > tr > td {
        vertical-align: middle;
        padding: 8px;
        color: #333;
        border: 1px solid rgba(190, 190, 190, 0.5);
        -webkit-transition-duration: 100ms;
        -moz-transition-duration: 100ms;
        -o-transition-duration: 100ms;
        transition-duration: 100ms;
        -webkit-transition-delay: 200ms;
        -moz-transition-delay: 200ms;
        -o-transition-delay: 200ms;
        transition-delay: 200ms;
    }

    /*nur die Felder des Header*/
    .tblPageAndSearch-table > thead > tr > th {
        background-color: rgba(30, 105, 200, 0.80);
        color: #eee;
        font-weight: 700;
        text-align: left;
    }

    /*alle geraden Zeilen*/
    .tblPageAndSearch-table > tbody > tr:nth-child(even) {
        background-color: rgba(240, 240, 240, 0.8);
    }

    /*alle ungeraden Zeilen*/
    .tblPageAndSearch-table > tbody > tr:nth-child(odd) {
        background-color: rgba(250, 250, 250, 0.8);
    }

    /*nur die Zeilen des Bodys*/
    .tblPageAndSearch-table > tbody > tr {
        /*background-color: rgba(190, 190, 190, 0.5);*/
        -webkit-transition-duration: 200ms;
        -moz-transition-duration: 200ms;
        -o-transition-duration: 200ms;
        transition-duration: 200ms;
        -webkit-transition-delay: 200ms;
        -moz-transition-delay: 200ms;
        -o-transition-delay: 200ms;
        transition-delay: 200ms;
    }

        .tblPageAndSearch-table > tbody > tr:hover {
            background-color: rgba(210, 210, 210, 0.6);
        }

        .tblPageAndSearch-table > tbody > tr > td:hover {
            background-color: rgba(210, 210, 210, 0.6);
        }

/*die neu eingefügten Tabellenzeilen (Pager und/oder Searcher)*/
.tblPageAndSearch-tr {
    background-color: #fafafa;
}

    /*Korrektur für das Eingabefeld des Filters*/
    .tblPageAndSearch-tr > td {
        padding-right: 40px !important;
    }

/*selektierte Zeilen*/
.tblPageAndSearch-tr-select {
    background-color: rgba(255, 250, 158, 0.3) !important;
    font-weight: 700;
}
